<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>
<body>

</body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="">OnlineShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="./home.html" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

            <span class="navbar-text" style="margin-right: 25px"><span th:text="${session.userSessionAtribute}"/></span>
            <span class="navbar-text"><a th:href="@{/logout}">LogOut</a></span>

        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Categories</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mr-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Featured

                    <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-light"><i class="fas fa-upload"></i></button>
                        <button type="button" class="btn btn-light"><i class="fas fa-download"></i></button>
                        <button type="button" class="btn btn-light"><i class="fas fa-sync-alt"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div th:if="${successMessage}" class="alert alert-success" role="alert">
                        <span th:utext="${successMessage}"></span>
                    </div>
                    <form  autocomplete="off" action="#" th:action="@{/admin/category/add}"
                           th:object="${category}" method="post">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Category Name:</label>
                            <input type="text" th:field="*{categoryName}" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description: </label>
                            <textarea th:field="*{description}" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>