<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
    </ol>
</div>

<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            Dashboard
        </div>
        <div class="card-body">
            <p th:text="${session.adminMessage}"></p></div>
    </div>
</div>
</body>
</html>