<!DOCTYPE html>
<html lang="en" layout:decorate="~{user/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>OnlineShop</title>
</head>
<body>

<div layout:fragment="content-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Your Account</li>
    </ol>
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12 mb-3"><h2>Your account</h2></div>
        <div class="col-4">
            <div class="card">
                <div class="card-body text-center blackLinkItem">
                    <a th:href="@{/user/personalInfo}">
                        <h5 class="card-title"><i class="fas fa-user-circle fa-2x" style="color: black"></i></h5>
                        <p class="card-text" style="color:black">INFORMATION</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body text-center blackLinkItem">
                    <a th:href="@{/user/address}">
                        <h5 class="card-title"><i class="fas fa-address-book fa-2x" style="color: black"></i></h5>
                        <p class="card-text" style="color: black">ADDRESSES</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body text-center blackLinkItem">
                    <a href="">
                        <h5 class="card-title"><i class="far fa-calendar-alt fa-2x" style="color: black"></i></i></h5>
                        <p class="card-text">ORDER HISTORY AND DETAIL</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <div class="card">
                <div class="card-body text-center blackLinkItem">
                    <a href="">
                        <h5 class="card-title"><i class="far fa-credit-card fa-2x" style="color: black"></i></h5>
                        <p class="card-text">CREDIT SLIPS</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>