<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark navcolor">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">OnlineShop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav ml-auto" id="topmenu">
                    <li class="nav-item">
                        <!-- IF CUSTOMER IS ANONYMOUS -->
                        <div th:if="${session.sessionTotalPrice}">
                            <a th:href="@{/shoppingcart}" class="nav-link" th:text="'Cart ($ ' +${session.sessionTotalPrice} +' )'">Cart ($ 0.00)<span class="sr-only">(current)</span></a>
                        </div>
                        <!-- ELSE -->
                        <div th:unless="${session.sessionTotalPrice}">
                            <a th:href="@{/shoppingcart}" class="nav-link">Cart ($ 0.00)<span class="sr-only">(current)</span></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/subscribe}" class="nav-link">Newsletter</a>
                    </li>
                    <div th:if="${session.usernameEmail}">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               data-toggle="dropdown" id="dropdownMenu"
                               aria-haspopup="true" aria-expanded="false"
                               th:text="'( ' +${session.usernameEmail} +' )'">Dropdown</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                                <a class="dropdown-item" th:href="@{/user/home}" href="#" style="color:black; font-weight:normal;">
                                    <i class="fas fa-user-circle"></i> My Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/logout}" href="#" style="color:black; font-weight:normal;">
                                    <i class="fas fa-sign-out-alt"></i> Sign Out</a>
                            </div>
                        </li>
                    </div>
                    <div th:unless="${session.usernameEmail}">
                        <li class="nav-item">
                            <a th:href="@{/user/home}" class="nav-link">Sign In</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>