<!--Footer-->
<footer class="pt-0" th:fragment="footer">

    <div style="background-color: #2c3e50;">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0" style="color: white">
                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                </div>

                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a class="ml-0">
                        <i class="fab fa-facebook-f mr-lg-4 item-white" style="color: white"> </i>
                    </a>
                    <a>
                        <i class="fab fa-twitter mr-lg-4 item-white" style="color: white"> </i>
                    </a>
                    <a>
                        <i class="fab fa-google-plus-g mr-lg-4 item-white" style="color: white"> </i>
                    </a>
                    <a>
                        <i class="fab fa-linkedin-in mr-lg-4 item-white" style="color: white"> </i>
                    </a>
                    <a class="ins-ic">
                        <i class="fab fa-instagram mr-lg-4 item-white" style="color: white"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Company name</strong>
                </h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Lorem ipsum dolor sit amet purus non augue. Lorem ipsum cursus
                    justo orci lorem sodales pretium pellentesque. Proin cursus,
                    lacus nonummy id.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Products</strong>
                </h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">New Products</a>
                </p>
                <p>
                    <a href="#!">Bestseller</a>
                </p>
                <p>
                    <a href="#!">Contact</a>
                </p>
                <p>
                    <a href="#!">About</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Useful links</strong>
                </h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">My Account</a>
                </p>
                <p>
                    <a href="#!">My Orders</a>
                </p>
                <p>
                    <a href="#!">My Adress</a>
                </p>
                <p>
                    <a href="#!">My Personal Info</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> My City, MC 12345, US</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> info@localhost.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
        </div>
    </div>

    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="">
            <strong> OnlineShop by hubswi90</strong>
        </a>
    </div>

</footer>