<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/fragments/layoutProduct}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</div>

<div layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">photo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product :${productList}">
            <th scope="row"><span th:text="${product.getId()}"/></th>
            <td th:text="${product.getProductName()}"></td>
            <td><img height="50px" th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(product.getPhoto())}}"></td>
            </td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>